<div class="jumbotron">
    <h1> Transactions for <%= user.googlename %> </h1>
    <p> Here is your list of things to do! </p>

      <% items.forEach(item => { %>
           <a href="/tran/remove/<%=item._id %>">X</a>
           ::
           <%= item.description %>
          <br>
      <% }) %>
        
      <h1> Add a New Transaction </h1>
      <form method="post" action="tran">
         <input type="text" name="description" placeholder="description"><br>
         <input type="text" name="category" placeholder="category"><br>
         <input type="number" name="amount" placeholder="amount"><br>
         <input type="date" name="date" placeholder="yyymm/dd"><br>
          <input type="submit" value="store">
      </form>

  </div>
