<div class="jumbotron">
    <h1> Transactions for <%= user.googlename %> </h1>
    <p> Here is your list of things to do! </p>

      <% items.forEach(item => { %>
           <a href="/tran/remove/<%=item._id %>">X</a>
           ::
           <%= item.item %>
          <br>
      <% }) %>

      <form method="post" action="tran">
          new item: <input type="text" name="description" placeholder="description"><br>
          new item: <input type="text" name="category" placeholder="category"><br>
          new item: <input type="number" name="amount" placeholder="amount"><br>
          new item: <input type="date" name="date" placeholder="mm/dd/yyyy"><br>
          <input type="submit" value="store">
      </form>

  </div>
